.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 15px 30px;

  background: #222;
  color: white;
}

.logo {
  font-size: 22px;
  font-weight: bold;
  text-decoration: none;
  color: white;
}

.nav-right {
  display: flex;
  gap: 15px;
}

.nav-btn {
  text-decoration: none;
  color: white;
  padding: 6px 12px;
  border-radius: 6px;
  transition: 0.2s;
}

.nav-btn:hover {
  background: #444;
}

.logout {
  background: #e74c3c;
  border: none;
  cursor: pointer;
}